<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
 <head>
  <title>uCORE</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />
  {% block head %}
  {% endblock %}
</head>
<body>
<div id='geheader'>
	<img id="core-logo" height="28px" width="100px" align="bottom" src="{{ MEDIA_URL }}images/corelogobluecog2-100x28.png" alt="C()RE" />
	<div id="user-info">
    <a href="/userprofile/"><span id="signuptext">{{ user.first_name }}</span></a> | <a href="/manage-libraries/">Libraries</a> | <a href="/future-feature/">Help</a> | <a href="/logout/">Sign Out</a>
	</div>
</div>
{% block morebody %}
{% endblock %}
</body>
</html>
