{% extends "base.html" %}

{% block head %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.6.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}javascript/kmltree-0.9.3/kmltree.css" media="screen" />

    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-ui-1.8.6.custom.min.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/geo/geo-0.2.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/google/extensions-0.2.1.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/kmltree-0.9.3/kmltree.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.js"></script>
    <script type="text/javascript">
      google.load("earth", "1");

      $(document).ready(function() {
        $("#ge").gearthapp({
          layersKml: "{{ MEDIA_URL }}kml/layers.kml",
          optionsKml: "{{ MEDIA_URL }}kml/options.kml",
          kmlDocs: "{{ MEDIA_URL }}kml/top_eleven.kml"
        });
        $("#ge").fitwindow({
          heightOffset: $("#geheader").outerHeight(true),
          widthOffset: 0
        });
      });
    </script>
  {% endblock %}
  {% block morebody %}
    <br/><br/>
    <h3 style="text-align:center">We're sorry, but this page has not been developed yet...<br/>
      <a href="/map/">Click here to return</a></h3>
 {% endblock %}
