<html>
<head>
	<title>uCORE</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="http://skawaii.net/extjs/latest/resources/css/ext-all.css"/>
	<link rel="stylesheet" type="text/css" href="/site_media/css/corefoundation.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/core.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/Ext.ux.GEarthPanel-1.1.css" />

    <!-- Javascript -->
    <script type="text/javascript" src="http://skawaii.net/extjs/latest/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://skawaii.net/extjs/latest/ext-all-debug.js"></script>
    <script src="http://www.google.com/jsapi?key=ABQIAAAAtuDq1IioWnrYLMDZJXDaeBQtbCeXV1AaC_9GYwinjG7jMEsspxSTIxD1kpEv2TI4AyMEOkPYRiTVPQ"></script>
    <script type="text/javascript" src="/site_media/javascript/Ext.ux.GEarthPanel-1.1.js"></script>
    <script type="text/javascript" src="/site_media/javascript/core.js"></script>

	<!-- Call the Core JS -->
    <script type="text/javascript">
		initcore('{{ user.first_name }}');
    </script>
 </head>

<body>
  <div id="eastPanel"></div>
  <div id="westPanel"></div>
  <div id="northPanel"></div>
  <div id="centerPanel"></div>
  <div id="bottomPanel"></div>
  <!-- <div id="eastPanel"></div> -->
</body>

</html>

