<html>
<head>
	<title>uCORE</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.6.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}javascript/kmltree-0.9.3/kmltree.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />

	<!-- Javascript -->
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-1.4.4.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-ui-1.8.6.custom.min.js"></script>
  <script src="http://www.google.com/jsapi?key=ABQIAAAAtuDq1IioWnrYLMDZJXDaeBSs94HHVqefOIHFZCoxD0-RfMeDlhRP3tXSgs9jF0UIVUjkN3EP0hxagA"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/geo-0.2.pack.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/extensions-0.2.1.pack.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/kmltree-0.9.3/kmltree.js"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.js"></script>

	<script type="text/javascript">
	  google.load("earth", "1");
	  google.load("maps", "2");

	  $(document).ready(function() {
	  	$("#ge").gmapsapp({
	  		layersKml: "{{ MEDIA_URL }}kml/layers.kml",
	  		optionsKml: "{{ MEDIA_URL }}kml/options.kml"
	  	});
	  	$("#ge").fitwindow({
	  		heightOffset: $("#geheader").outerHeight(true),
	  		widthOffset: 0
	  	});
	  });
	</script>
</head>
<body>
<div id='geheader'>
	<img id="core-logo" height="28px" width="100px" align="bottom" src="{{ MEDIA_URL }}images/corelogobluecog2-100x28.png" alt="C()RE" />
	<div id="user-info">
		<a href="/userprofile/"><span id="signuptext">{{ user.first_name }}</span></a> | <a href="/settings/">Settings</a> | <a href="/future-feature/">Help</a> | <a href="/logout/">Sign Out</a>
	</div>
</div>
<div id="ge"></div>
<div id="gefooter"></div>
</body>
</html>


