<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/site_media/css/corefoundation.css" />
    	<link rel="stylesheet" type="text/css" href="/site_media/css/core.css" />
	</head>
	<body>
		<div id='geheader'>
  		<a href='/ucore/'><img id='core-logo' height='28px' width='100px' align='bottom' src='/site_media/images/corelogobluecog2-100x28.png'' alt='C()RE' />
		</a>

		<div id='user-info'><a href="/ucore/register/fillThisIn"><span id="signuptext">Sign Up</span></a> | <a href="/ucore/login/">Sign In </a>| <a href="">Help</a> | <a href="">About</a></div>
  	</div>

<div class="main_div">
  <div class="center_div">
   <img src='/site_media/images/corelogo.png'>
  </div>
</div>
	
	</body>
</html
