<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />
	</head>
	<body id="signup_page" style="vertical-align:middle">
		<div id="geheader">
      <a href="/"><img id="core-logo" height="28px" width="100px" align="bottom" src="{{ MEDIA_URL }}images/corelogobluecog2-100x28.png" alt="C()RE" />
</a>

		<div id="user-info"><a href="/register/fillThisIn"><span id="signuptext">Sign Up</span></a> | <a href="/login/">Sign In </a>| <a href="/future-feature/">Help</a> | <a href="/future-feature/">About</a></div>
  	</div>

<div class="main_div">
  <div class="center_div">
    <img src="{{ MEDIA_URL }}images/corelogo.png">
  </div>
</div>
	
	</body>
</html>
