<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>uCORE - Install Certificates</title>
  </head>

  <body>
    <center><h2>Welcome to uCORE!</h2></center>
    <p>It appears that your IC certificates are not properly installed.</p>
    <p>Put some junk in here about where to go to get certs, how to install, etc.</p>
  </body>
</html>
