<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>uCORE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.6.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}javascript/kmltree-0.9.3/kmltree.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />

    <!-- Javascript -->
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-ui-1.8.6.custom.min.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/geo/geo-0.2.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/google/extensions-0.2.1.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/kmltree-0.9.3/kmltree.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.js"></script>
  </head>
  <body>
    <div id='geheader'>
      <img id="core-logo"  height="28px" width="100px" align="bottom" src="{{ MEDIA_URL }}images/corelogobluecog2-100x28.png" alt="C()RE" />
      <div id="user-info">
        <a href="/userprofile/"><span id="signuptext">{{ user.first_name }}</span></a> | <a href="/map/">Back to Visualizer</a> | <a href="/library-demo/">Create Link Library</a> | <a href="/future-feature/">Help</a> | <a href="/logout/">Sign Out</a>
      </div>
    </div>
    <br/>
    <br/>
    <div style="text-align:center">
      <h2>{{ user.first_name }}'s Libraries</h2><br/><br/>
      <form action='/delete-libraries/' method="post">
      <table style="margin:auto; border-style: solid;border-width:2px; border-collapse: separate; border-color:black;text-align:center; margin:1;padding:2px;">
        <tr style="border: 1px solid black"><th style="width:100px;">Action</th>
          <th style="width:100px;">Library Name</th><th style="width:100px">Library Desc</th><th style="width:100px;">Library Tags</th><th style="width:100px">Links</th>
      <tr/>
        {% for i in library_list %}
        <tr style="border: 1px solid black">
          <td><input type="checkbox"/></td>
          <td>  {{ i.name }} </td><td> {{ i.desc }} </td><td> {{ i.tags.all }} </td><td> {% for j in i.links.all %} {{ j }}, {% endfor %}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2"><input type="submit" value="Delete selected links"/></td><td></td><td></td>
            <td colspan="2"><a href="/map/"><button style="width:80px">Back</button></a></td>
          </tr>
              </table>
            </div>
       </form>
</body>
</html>
