{% load core_extras %}
<html>
<head>
	<title>uCORE</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
	<!--
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/themes/ui-darkness/jquery-ui-1.8.12.custom.css" />
	-->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.6.custom.css" />
	
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.slidepanel.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/slidepanelresultfilter.css" />

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/acoredion.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/geodatatree.css" />

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />

	<style type="text/css">
		#acoredion {
			top: 34;
			width: 30%;
		  height: 100%; 
		}
		#results {
			position: absolute;
			top: 34;
			/*left: 370px;*/
			left: 30%;
			width: 300px;
			height: 100%; /* 100% - scrollbar height */
			z-index: 1000;
		}
		#tabs-earth {
			/*position: absolute;
			top: 50;
			left: 370px;*/
			/*width: 630px;*/
			height: 100%;
			background: blue;
			padding: 0;
		}
		#tabs-maps {
			/*position: absolute;
			top: 50;
			left: 370px;*/
			/*width: 630px;*/
			height: 100%;
			background: green;
			padding: 0;
		}

		#maps-section {
			position: absolute;
			top: 34;
			/*left: 370px;*/
			/*width: 630px;*/
			left: 30%;
			width: 70%;
			height: 100%;
			margin: 0;
			background: blue;
		}
		#maps-container{
			height: 100%;
			width: 100%;
			background: orange;
		}
		#tabs{
			padding:0;
		}
		.ui-tabs .ui-tabs-hide {
		    position: absolute;
		    left: -10000px;
		}

	</style>

	<!-- Javascript -->
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-1.5.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-ui-1.8.6.custom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery.ui.autocomplete.html.js"></script>
	<script src="http://www.google.com/jsapi?key=ABQIAAAAtuDq1IioWnrYLMDZJXDaeBSs94HHVqefOIHFZCoxD0-RfMeDlhRP3tXSgs9jF0UIVUjkN3EP0hxagA"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/google/extensions-0.2.1.pack.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquerytools/tooltip/tooltip.min.js"></script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/iterate.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jstree/jquery.jstree.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jstree/jquery.jstree.lazyload.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jstree/jquery.jstree.bettercheckbox.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jstree/jquery.jstree.hoverbuttons.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jstree/jquery.jstree.crr.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jstree/jquery.jstree.pickydnd.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/kmlfeaturetype.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/uri.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/idsequence.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/assert.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/callbackutils.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/objectutils.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/qualifiedname.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/namespacecontext.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/xmlutils.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/kmlutils.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.util/geodatavisitor.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/geodatastore.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/geodata.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/linkgeodata.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/linklibrarygeodata.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/networklinkgeodata.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/kmlnodegeodata.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/kmljsongeodata.js"></script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/event.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/geodataevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/showfeatureevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/hidefeatureevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/geodataloadedevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/geodataupdatebeginevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/geodataupdateendevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/viewchangedevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/featureinfoevent.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/eventchannel.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.events/geodataunloadedevent.js"></script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/geodatatree.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/acoredion.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/searchservice.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/kmlretriever.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/proxykmlretriever.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/geodataretriever.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/kmlgeodataretriever.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/kmljsonproxyservice.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/kmljsongeodataretriever.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/searchstrategy.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/libraryservice.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/linkservice.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.services/userservice.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.geo/networklinkqueue.js"></script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/jquery.slidepanel.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/jquery.resultslist.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/jquery.emptytext.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/slidepanelresultfilter.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/jquery.gearth.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.ui/acoredionslidepanelhelper.js"></script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.gearth/kmlobjectcreator.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.gearth/kmlobjectstore.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}javascript/core.gearth/gecontroller.js"></script>


	<script type="text/javascript">
		google.load("maps", "2");
		google.load("earth", "1");

		$(document).ready(function() {
			$( "#tabs" ).tabs();		

			var userService = new core.services.UserService({
				currentUserEndpoint: "/current-user/",
				currentUser: {% user_json user %}
			});
			var libraryService = new core.services.LibraryService({
				createLibraryEndpoint: "/create-library/",
				deleteEndpoint: "/delete-libraries/",
				getByIdEndpoint: "/libraries/",
				updateEndpoint: "/update-library/"
			});
			var linkService = new core.services.LinkService({
				getByIdEndpoint: "/links/",
				getByUrlEndpoint: "/links",
				createEndpoint: "/links",
				deleteEndpoint: "/delete-link/"
			});
			var kmlJsonProxyService = new core.services.KmlJsonProxyService("/kmlproxy")
			var geodataRetriever = new core.services.KmlJsonGeoDataRetriever(kmlJsonProxyService);
			var eventChannel = new core.events.EventChannel();
			var currentBbox = null;
			var currentAltitude = null;
			var networkLinkQueue = new core.geo.NetworkLinkQueue(geodataRetriever, 
					eventChannel, currentBbox, currentAltitude);

			$("#results").slidepanel()
				.bind("removepanel", function() {
					var size;
					size = $("#results").slidepanel("size");
					if (size == 0)
						$("#results").slidepanel("close");
				})
				.bind("close", function() {
					$(this).hide("slide");
				})
				.hide();

			var searchService = new core.services.SearchService("/search/links", "/search/libraries", "/get-tags", "/keywords/");
			var resultFilter = new core.ui.SlidePanelResultFilter("#results", "search-results");
			var searchStrategy = new core.services.SearchStrategy(
					searchService, resultFilter, geodataRetriever, linkService);

			var spHelper = new core.ui.AcoredionSlidePanelHelper("#results");
			var acoredion = new core.ui.Acoredion("#acoredion", searchStrategy, eventChannel, networkLinkQueue, 
					spHelper.getCreateLibraryCallback(libraryService, linkService, geodataRetriever, searchService),
					spHelper.getEditLibraryCallback(libraryService, linkService, geodataRetriever, searchService),
					userService, linkService, libraryService);

			var geController = null;
			$("#tabs-earth").gearth().bind("earthloaded", function(event, ge) {
				geController = new core.gearth.GeController(ge, eventChannel);
			});

			// Create a new map
            var gmaps = new google.maps.Map2(document.getElementById("maps-container"));
            gmaps.setCenter(new google.maps.LatLng(37.4419, -122.1419), 13);

            /*
            $.ajax({
            	url: "{{ MEDIA_URL }}kml/top_eleven.js",
            	type: "GET",
            	dataType: "json",
            	success: function(data, textStatus, jqXHR) {
            		var kmlRoot = data;
            		var firstChild = kmlRoot.children[0];
            		var geodata = core.geo.KmlJsonGeoData.fromKmlJson(firstChild, kmlRoot);
            		geodata = core.geo.GeoDataStore.persist(geodata);
            		eventChannel.publish(new core.events.GeoDataLoadedEvent("map page", geodata));
            	},
            	error: function(jqXHR, textStatus, errorThrown) {
            		alert("Couldn't load Top Eleven: " + errorThrown);
            	}
            });
            */
			
            // Create the maps controller
	    // Uncomment this!
	    // var gmapsController = new core.gmaps.GmapsController(gmaps, eventChannel);
            
                      
            $("#tabs").bind("tabsshow", function(event, ui) {
		
                if (ui.panel.id == "tabs-maps") {
                	gmaps.checkResize();
			//$("#maps-container").animate({ height: '250px' }, 500);


                }
            });
      
            /*
            libraryService.createLibrary("new library", "just a test", [], ["foo", "bar"])
            	.then(function(newLibrary) {
	            		console.log("SUCCESS!");
	            		console.log(newLibrary);
	            	},
	            	function(errorThrown) {
	            		alert("Error creating library: " + errorThrown);
	            	});
           	*/

           	// load user's libraries
           	userService.getCurrentUser().then(
           		function(currentUser) {
           			var i, linkLibraryGeoData;
           			for (i = 0; currentUser && currentUser.fields
           					&& currentUser.fields.libraries 
           					&& i < currentUser.fields.libraries.length; i++) {
						linkLibraryGeoData = new core.geo.LinkLibraryGeoData(null, 
								currentUser.fields.libraries[i], linkService, 
								geodataRetriever);
						acoredion.addGeoData(linkLibraryGeoData);
           			}
           		},
           		function(error) {
           			console.log("Couldn't load user's libraries. Error " 
           					+ "retrieving current user: " + error);
           		}
           	);
		});
	 
	</script>
</head>
<body>
<div id='geheader'>
	<img id="core-logo" height="28px" width="100px" align="bottom" src="{{ MEDIA_URL }}images/corelogobluecog2-100x28.png" alt="C()RE" />
	<div id="user-info">
    <a href="/userprofile/"><span id="signuptext">{{ user.first_name }}</span></a> | <a href="/manage-libraries/">Libraries</a> | <a href="/future-feature/">Help</a> | <a href="/logout/">Sign Out</a>
	</div>
</div>

<div id="acoredion"></div>
<div id="maps-section">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-earth">Earth</a></li>
			<li><a href="#tabs-maps">Maps</a></li>
		</ul>

		<div id="tabs-earth"></div>
		<div id="tabs-maps">
			<div id="maps-container"></div>
		</div>
	</div>
</div>
<div id="results"></div>


</body>
</html>
