{% extends "base.html" %}

{% block head %}
        <style type="text/css">
          
      table {
        width: 700px;
        padding-bottom:10px;
        vertical-align:middle;
      }
      th {
        text-align: right;
        padding-right: 50px;
      }
      input {
        padding-bottom:10px;
        width: 200px;
        vertical-align:middle;
      }
      label {
        padding-bottom:10px;
        vertical-align:middle;
      }

      td {
        padding:10px 10px 10px 10px;

      }
      </style>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />
<script src="{{ MEDIA_URL }}javascript/formvalid.js"></script>
{% endblock %}

{% block morebody %}
        <div class="main_div">
           <div class="center_div">
            <form action="/update-password/" method="POST">
              <div>{% csrf_token %}</div>
              <h1 style="padding-left:100px">Change Password</h1><br/><br/>
              <div style="color:red;font-weight:bold;font-size:14pt;width:450px;">{% if error_message %}*** {{ error_message }} ***{% endif %}</div><br/>
              <table>
                <tr>
                  <td>
                    <label>Old Password</label>
                  </td>
                  <td>
                    <input name="old" type="password"></input>
                  </td>
                  <td>
                  </td>
                    </tr>
                    <tr>
                      <td>
                        <label>New Password</label></td>
                        <td>
                          <input name="password" type="password"></input>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                       <td><label>New Password (confirm)</label></td>
                       <td><input name="password2" type="password" onKeyUp="passwordConfirm()"></input></td>
                       <td>
                      <div id="matchOutput" style="width:300px; padding-left:10px;"></div>
                       </td>
                     </tr>
                     <tr>
                       <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                     </tr> 
                     <tr>
                       <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                     </tr> 
                     <tr>
                       <td>
                         <input type="submit" value="Save Changes" onclick="document.getElementById('formOutput').value = '';"/></td>
                       <td> <a href="/userprofile/"><input type="button" value="Back"></a></td>
                     </tr>
                     <tr><td><br/></td></tr>
                  </table>
                        <div id="formOutput" style="text-align:center;color:black"></div>
                         {% if saved %}
                         <h3 style="padding-left:100px;color:black;">New Password Saved Correctly</h3>
                         {% endif %}
                  <br/>
                  <br/>
            </form>
            <br/>
        </div> <!-- end of center_div -->
      </div> <!-- end of main_div -->
      {% endblock %}
