{% extends "base.html" %}

{% block morebody %}
<div id="userprofile_div">
            {% if link %}
            <form action="/rate/link/{{ link.id }}/" method=post>
            {% else %}{% if link_library %}
            <form action="/rate/library/{{ link_library.id }}/" method=post>
            {% endif %}{% endif %}
                {% csrf_token %}
                <h1>{% if link %}{{ link.name }}{% else %}{% if link_library %}{{ link_library.name }}{% endif %}{% endif %}</h1>
                <ol>
                    <li>
                        <label>Rating</label>
                        <select name="score">
                            <option value=1 {% if rating %}{% if rating.score == 1 %}selected="selected"{% endif %}{% endif %}>1 - Utter Junk</option>
                            <option value=2 {% if rating %}{% if rating.score == 2 %}selected="selected"{% endif %}{% endif %}>2 - Junk</option>
                            <option value=3 {% if rating %}{% if rating.score == 3 %}selected="selected"{% endif %}{% endif %}>3 - OK</option>
                            <option value=4 {% if rating %}{% if rating.score == 4 %}selected="selected"{% endif %}{% endif %}>4 - Good</option>
                            <option value=5 {% if rating %}{% if rating.score == 5 %}selected="selected"{% endif %}{% endif %}>5 - Very Good</option>
                        </select>
                    </li>
                    <li>
                        <label>Comment</label>
                        <textarea name="comment" rows="5" cols="20">{%if rating %}{{rating.comment|escape}}{% endif %}</textarea>
                    </li>
                    <li class="submit">
                        <input type="submit" value="Rate!" />
                    </li>
                </ol>
            </form>
          </div> <!-- End user_profile_div -->
     {% endblock %}
