<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>uCORE - Register</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />
 
        <script src="{{ MEDIA_URL }}javascript/slickgrid/lib/jquery-1.4.3.min.js"></script>
        <script src="{{ MEDIA_URL }}javascript/slickgrid/lib/jquery-ui-1.8.5.custom.min.js"></script>
        <script src="{{ MEDIA_URL }}javascript/formvalid.js"></script>

        <style type="text/css">
            table {
              width: 700px;
              padding-bottom:10px;
            }
            th {
              width: 200px;
              text-align: right;
            }
            td {
              width: 250px;
              padding-bottom:10px;
            } 
        </style>
    </head>

    <body id="signup_page">
        <div id="geheader">
            <a href="/"><img id="core-logo" height="28px" width="100px" align="bottom" src="{{ MEDIA_URL }}images/corelogobluecog2-100x28.png" alt="C()RE" /></a>
            <div id="user-info"><a href="/login/">Sign In</a> | <a href="/future-feature/">Help</a> | <a href="/future-feature/">About</a></div>
        </div>

        <div class="main_div">
            <div id="core_signup_div" class="center_div">
              <div><h1 style="padding-left:120px"> Sign Up </h1></div>
              <br/><br/>
              <div style="color:red;font-weight:bold;font-size:14pt;width:450px;">{% if error_message %}<p><strong>*** {{ error_message }} ***</strong></p>{% endif %}</div>
              <FORM action="/create-user/" method="post" id="frmPhone">
                  <div>{% csrf_token %}</div>
                  <input name="sid" type="hidden"/>
                      <table>
                        <tr>
                          <th>
                            <label>Username</label>
                          </th>
                          <td>
                            <input name="username" type="text" onblur="check_username()" value="{{ username }}"/></td>
                          <td>
                            <div id="userOutput" style="padding-left:10px"></div></td>
                        </tr>
                        <tr>
                          <th>
                            <label>First Name</label></th>
                          <td>
                            <input name="first_name" type="text" value="{{first_name }}"/></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>
                            <label>Last Name</label></th>
                          <td>
                            <input name="last_name" type="text" value="{{ last_name }}"/>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>
                            <label>Phone</label></th>
                          <td>
                            <input name="phone_number" type="text" value="{{phone_number }}"/>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>  
                            <label>Email</label></th>
                          <td>
                            <input name="email" type="text" value="{{ email }}"/></td>
                          <td>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <label>Password</label></th>
                          <td>
                            <input name="password" type="password"/></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>
                            <label>Password(confirm)</label>
                          </th>
                          <td>
                            <input name="password2" type="password" onKeyUp="passwordConfirm()"/></td>
                          <td>
                            <div id="matchOutput" style="width:300px; padding-left:10px;"></div>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>
                            <span class="submit"> 
                              <a href="#" class="button fit large"><input type="submit" value="Sign Up" onclick="return check_form()"/></a>
                            </span>
                          </td>
                          <td><div id="formOutput"></div></td>
                        </tr>
                      </table>
                  </FORM>
            </div> <!-- End center_div -->
        </div> <!-- End main_div -->
    </body>
</html>
