{% extends "base.html" %}

{% block importjs %}
        <script src="{{ MEDIA_URL }}javascript/formvalid.js"></script>
{% endblock %}

{% block importcss %}
        <style type="text/css">
            table {
              width: 700px;
              padding-bottom:10px;
            }
            th {
              width: 200px;
              text-align: right;
            }
            td {
              width: 250px;
              padding-bottom:10px;
            } 
        </style>
{% endblock %}

{% block morebody %}
        <div class="main_div">
            <div id="core_signup_div" class="center_div">
              <div><h1 style="padding-left:120px"> Sign Up </h1></div>
              <br/><br/>
              <div>{% if error_message %}<p><strong>*** {{ error_message }} ***</strong></p>{% endif %}</div>
              <FORM action="/create-user/" method="post" id="frmPhone">
                  <div>{% csrf_token %}</div>
                  <input name="sid" type="hidden"/>
                      <table>
                        <tr>
                          <th>
                            <label>Username</label>
                          </th>
                          <td>
                            <input name="username" type="text" onblur="check_username()"/></td>
                          <td>
                            <div id="userOutput" style="padding-left:10px"></div></td>
                        </tr>
                        <tr>
                          <th>
                            <label>First Name</label></th>
                          <td>
                            <input name="first_name" type="text"/></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>
                            <label>Last Name</label></th>
                          <td>
                            <input name="last_name" type="text"/>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>
                            <label>Phone</label></th>
                          <td>
                            <input name="phone_number" type="text"/>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>  
                            <label>Email</label></th>
                          <td>
                            <input name="email" type="text"/></td>
                          <td>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <label>Password</label></th>
                          <td>
                            <input name="password" type="password"/></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>
                            <label>Password(confirm)</label>
                          </th>
                          <td>
                            <input name="password2" type="password" onKeyUp="passwordConfirm()"/></td>
                          <td>
                            <div id="matchOutput" style="width:300px; padding-left:10px;"></div>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>
                            <span class="submit"> 
                              <a href="#" class="button fit large"><input type="submit" value="Sign Up" onclick="return check_form()"/></a>
                            </span>
                          </td>
                          <td><div id="formOutput"></div></td>
                        </tr>
                      </table>
                  </FORM>
            </div> <!-- End center_div -->
          </div> <!-- End main_div -->
          {% endblock %}
