{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.6.custom.css"/>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jQuery/jquery-1.5.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascript/tscript.js"></script>
  {% endblock %}

  {% block morebody %}

      <table style="border-style: solid;border-width:2px; border-collapse: separate; border-color:black;  margin: 1; padding: 2px;">
        <tbody>
        <tr>
          <td>
            <img id="trophypic" height="200px" width="100px" src="{{ MEDIA_URL }}images/dart_trophy.JPG"/></td>
          <td><h1 align="center">-------------Trophy Room-------------- </h1></td>
          <td>
            <img id="trophypic" height="200px" width="100px" src="{{ MEDIA_URL }}images/dart_trophy.JPG"/>
          </td>
        </tr>
        </tbody>
      </table>
      <br/><br/><br/>
      {% if trophy_list %} 
      <table style="border-width: 1px;border-style: solid;border-color:black;border-collapse: separate; margin: 2px; padding: 2px;">
        <thead>
          <tr>
            <th style="border-style:solid; border-color: black; border-width: 2px">Image</th><th style="border-style:solid; border-color: black; border-width: 2px">Trophy Name</th><th style="border-style:solid; border-color: black; border-width: 2px">Trophy Description</th><th style="border-style:solid; border-color: black; border-width: 2px; padding: 2px; width: 150px">Progress</th>
          </tr>
        </thead>
        <tbody> 
          {% for trophy, earn_progress, percentage in trophy_list %}
          <tr>
            <td style="border-style:solid; border-color: black; border-width: 2px; padding: 2px"><img src="{{ MEDIA_URL }}{{ trophy.file_path }}" height="100px" width="200px"/></td>
            <td style="border-collapse:separate; border-style:solid; border-color: black; border-width: 2px;padding: 2px">{{ trophy.name }}</td>
            <td style="border-collapse:separate; border-style:solid; border-color: black; border-width: 2px;padding: 2px">{{ trophy.desc }}</td>
            <td style="width: 150px; padding: 2px;border-collapse:separate; border-style:solid; border-color: black; border-width: 2px;"><div id="progress{{ forloop.counter }}"></div>{{ earn_progress }} / {{trophy.earning_req}}</td> 
          </tr>
          <script type="text/javascript">
            $("#progress{{ forloop.counter }}").progressbar({ value: {{ percentage }} });
          </script>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <table>
        <tr>
          <td><h2>No Trophies to display</h2></td>
        </tr>
      </table>
      {% endif %}
    </div>
    <br/><br/><br/>
{% endblock %}
