{% extends "base.html" %}
{% block head %}

    <style type="text/css">
          
      table {
        width: 700px;
        padding-bottom:10px;
        vertical-align:middle;
      }
      th {
        text-align: right;
        padding-right: 50px;
      }
      input {
        padding-bottom:10px;
        width: 200px;
        vertical-align:middle;
      }
      label {
        padding-bottom:10px;
        vertical-align:middle;
      }

      td {
        padding:10px 10px 10px 10px;

      }
      </style>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/corefoundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/core.css" />
    {% endblock %}
    {% block morebody %}

        <div class="main_div">
           <div class="center_div">
            <form action="/update-user/" method="POST">
              <div>{% csrf_token %}</div>
              <h1 style="padding-left:120px">{{ user.first_name }}'s Profile</h1><br/><br/>
              <table>
                <tr>
                  <td>
                    <label>SID</label>
                  </td>
                  <td>
                    <input name="sid" type="text" value="{{ user.sid }}" readonly="readonly"></input>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>First Name</label></td>
                        <td>
                          <input name="first_name" type="text" value="{{ user.first_name }}"></input>
                      </td>
                    </tr>
                    <tr>
                       <td><label>Last Name</label></td>
                       <td><input name="last_name" type="text" value="{{ user.last_name }}"></input></td>
                    </tr>
                       <tr>
                         <td> 
                           <label>Phone</label></td>
                         <td>
                           <input name="phone_number" type="text" value="{{ user.phone_number }}">
                         </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Email</label>
                        </td>
                        <td>
                        <input name="email" type="text" value="{{ user.email }}">
                      </td>
                    </tr>
                    <tr>
          <td><label for="id_wants_emails" class="vCheckboxLabel">Email Notifications (trophies, etc.)?</label></td>
          <td>
            <input type="checkbox" style="align-text:left" name="wants_emails" id="id_wants_emails" {% if settings.wants_emails %}checked="checked"{% endif %} />
          </td> 
        </tr>
        <tr>
          <td><label for="id_skin">Skin:</label></td>
          <td>
            <select name="skin" id="id_skin">
              {% for i in skin_list %}
              <option value="{{ i.name }}" {% ifequal i.name settings.skin.name %}selected="selected"{% endifequal %}>{{ i.name }}</option>
              {% endfor %}
            </select>
          </td>
          </tr>
                    <tr>
                      <td>
                      </td>
                      <td><a href="/update-password/">Click here to change your password</a></td>
                   </tr>
                  </table>
                  <br/>
                  <br/>
                <input type="submit" value="Save Changes"/>
                <a href="/ge/"><input type="button" value="Back"></a>
            </form>
            <br/>
            <h3 style="padding-left:50px;color:black;">{% if saved %}    Your profile changes have been saved.    {% endif %}</h3>
        </div> <!-- end of center_div -->
      </div> <!-- end of main_div -->
      {% endblock %}
