.core-acoredion {
}

.core-acoredion .acoredion-search {
	white-space: nowrap;
	margin-bottom: 1em;
}

.ui-autocomplete .term-type {
	color: #aaa;
}

.ui-autocomplete .term-value {
	margin-left: 0.5em;
}

.core-acoredion .acoredion-search > * {
	vertical-align: middle;
}

.core-acoredion .acoredion-search input[type="text"] {
	height: 1.9em;
	width: 90%;
}

.core-acoredion .acoredion-search .ui-emptytext-empty {
	font-weight: bold;
	color: #ccc;
 	letter-spacing: 1.1;
}

.core-acoredion .acoredion-search .ui-emptytext-filled {
}

.core-acoredion .acoredion-search button {
}

.core-acoredion .acoredion-tree-container {
	margin-bottom: 2em;
}

.core-acoredion .acoredion-tree {
	margin-top: 0.6em;
}

.core-acoredion .acoredion-tree-loading {
	background-image:url("../javascript/jstree/themes/apple/throbber.gif") !important;
	background-repeat:no-repeat !important;
	background-position: 0 0 !important;
	padding-left: 20px;
}

.core-acoredion .acoredion-tree-actions {
	display: block;
	position: fixed;
	z-index: 1000;
}

.core-acoredion .acoredion-tree-actions span {
	display: block;
	clear: none;
	float: left;
	margin: .2em;
}

.ui-slidepanel .create-library-form > * {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.ui-slidepanel .create-library-form label {
	display: block;
}

.ui-slidepanel .create-library-form textarea {
	display: block;
	width: 100%;
	height: 11em;
	margin-top: 0.2em;
	margin-bottom: 1em;
	padding: 0.1em 0.2em;
}

.ui-slidepanel .create-library-form input {
	display: block;
	width: 100%;
	margin-top: 0.2em;
	margin-bottom: 1em;
	vertical-align: middle;
	height: 1.6em;
	padding: 0.1em 0.2em;
}

.ui-slidepanel .create-library-form .buttons {
	display: block;
	float:right;
}

.ui-slidepanel .create-library-form .buttons button {
	float: left;
}

.ui-slidepanel .create-library-loading {
	background-image:url("../javascript/jstree/themes/apple/throbber.gif") !important;
	background-repeat:no-repeat !important;
	background-position: 0 0 !important;
	min-height: 16px;
	min-width: 16px;
	vertical-align: middle;
	padding-left: 24px;
}