html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{ margin:0;
  padding:0;
  border:0;
  outline:0;
  font:inherit inherit 100% inherit;
  vertical-align: middle;
}

/*The user welcome message in the page header!*/
#user-info {
  position:relative;
  /* position:absolute; */
  float:right;
  padding-right: 5px;
  padding-top:5px;
  display:block;
}
#core-logo {
  margin: 3px 3px 3px 3px;
}
#geheader {
  background-color: /*#176b b4*/ /*#D9E7F8*/ #1E3A7C;
  padding:0px;
  margin:0px;
}

#gefooter {
  background-color: #1E3A7C;
  padding:0px;
  margin:0px;
  height: 28px;
  width: 100%;
}

#header-mainpage {
  float:right;
  padding:10px;
  font-family: sans-serif;
  color:#B3B3B3 
}

.core_error_text {
  color:#FF0000;
}

#signuptext {
  color:#FF0000;
}

#userprofile_div {
  margin:10px;
}

#userprofile_links {
  margin:10px;
}

#userprofile_back {
  margin:10px;
}

body {
  background:#f3f3f3 url("../images/texture.gif") repeat top left;
  color:#838383;
  font:13px/20px "Helvetica Neue","Helvetica,Arial,sans-serif";
  font-weight:400;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #F3F3F3;
  background-image: url("../images/texture.gif");
  background-origin: padding-box;
  /* background-position: left top; */
  background-repeat: repeat;
  background-size: auto auto;
}

.main_div {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible; /* was visible before */
}

.center_div {
  width: 650px;
  min-height: 250px;
  margin-left: -225px;  /** width / 2 ***/
  position: absolute;
  top: -125px; /*** height / 2 ***/
  left: 50%;
}

.right_div_feedback {
  float: right;
  /** padding: 0% 0% 0% 2%; **/
  width: 30%;
  text-align: left;
}

#core_signup_div {
  background-color:#EFEFEF;
  display:inline;
}

#signup_page ol{ width:620px;float:left;list-style-type:none;margin-top:20px }
#signup_page li{ padding-bottom:10px}
#signup_page input{width:150px }
#signup_page label{ float:left;width:160px;font-weight:bold;color:#525252;padding-top:5px;padding-right:15px;text-align:right; padding-bottom:10px }
#signup_page .terms input{ float:left;width:28px;margin:4px 0 0 120px }
#signup_page .about_gowalla{ float:left;width:250px;padding:0;margin:0;margin-left:40px;padding-left:30px;margin-top:20px;border-left:2px }

.ui-kmlaccordion {
}

.ui-kmlaccordion > h3 {
  white-space: nowrap;
}

.ui-kmlaccordion-kmltreecontainer {
}

.ui-kmlaccordion-kmltreecontainer > div {
  margin-bottom: 15px;
}

.gearthapp {
  display: block;
  position: relative; /* was relative */
}

.gearthapp .gearthapp-controlpanel {
  display: block;
  clear: none;
  float: left;
  width: 30%;
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 100;
  background: #fff
}

.gearthapp .gearthapp-controlpanel > div {
  height: 100%;
}

.gearthapp .gearthapp-earthpanel {
  display: block;
  clear: none;
  float: left;
  width: 70%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.gearthapp .ui-resizable-e {
  cursor: col-resize;
}

.kmlaccordion-searchform {
  width: 100%;
  margin-bottom: 20px;
  white-space: nowrap;
} 

.kmlaccordion-searchform table {
  width: 100%;
  table-layout: fixed;
}

.kmlaccordion-searchform table td.buttonContainer {
  width: 2.3em;
}

.kmlaccordion-searchform input {
  vertical-align: middle;
  font-size: 1.1em !important;
  height: 1.9em !important;
  width: 100%;
}

.kmlaccordion-searchform button {
  width: 2.3em;
  height: 2.3em;
  vertical-align: middle;
}

.ui-emptytext {
  font-weight: bold;
  color: #ccc;
  letter-spacing: 1.1;
}

div.kmltree > ul:first-child > li.root-heading:first-child > span.name {
  font-weight: bold;
  font-size: 110%;
  color: #6C7C90;
}

.gearthapp-controlpanel .ui-kmlaccordion {
  position: relative;
}

a {
  color:#39B2E5;
  font-weight:bold;
  text-decoration:none;
}

.collapser {
  height: 18px;
  cursor: pointer;
}
 
.collapser span {
  margin: 1px 2px 1px 1px;
  float: right;
}

iframe.core-controlpanel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

div.core-controlpanel-collapsed {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

div.core-controlpanel-collapsed span {
  margin: 1px 2px 1px 1px;
}